html {
  background-color: #e9e5e2;
}

body {
  background-color: #ffffff;
  max-width: 428px;
  margin: auto;
}

img {
  display: block;
  max-width: 100%;
}

.context {
  background-color: #d7a1fd;
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 20px 20px 10px;
}

.number {
  font-family: 'Noto Serif', serif;
  font-weight: 300;
}

.context p {
  color: #ffffff;
  font-family: 'Noto Serif', serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
}

.menu {
  display: flex;
  justify-content: space-around;
  background-color: #000000;
  font-family: 'Noto Serif', serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 42px;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
}

h2 {
  font-family: 'Noto Serif', serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin: 60px 0 30px;
}

.whats-on {
  margin: 0 20px;
}

h3 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.informations {
  font-family: 'Noto Serif', serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 15px;
  text-align: center;
  text-transform: capitalize;
  border-top: 7px solid #d7a1fd;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

.informations p {
  margin: 20px 0 0;
}

.full-programme {
  background-color: #000000;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 800;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  margin: 30px 77px 60px;
  padding: 20px 30px;
}

.full-programme a {
  color: #d7a1fd;
  text-decoration: none;
}

.sentence {
  background-color: #98fb00;
  font-family: 'Noto Serif', serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
}

.sentence p {
  margin: 0;
}

.quote {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  letter-spacing: -1.5px;
  line-height: 28px;
  padding: 0 20px 20px;
}